.footer {
    padding: 20px;
}

.Organic-Product-column,
.Help-Column,
.Diet-Nutrition-Column,
.Helpful-Link-Column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 150px;
    margin: 1rem;
}

.footer-padding a {
    text-decoration: none;
    color: rgb(62, 62, 62);
}

.footer-padding p {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 0.9rem;
}

.footer-padding {
    margin-top: 80px;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
}

.footer-subscribe {
    padding: 20px;
    background-color: #f6f6e9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    margin: 1rem;
}

.footer-subscribe h4 {
    background-color: #f6f6e9;
    font-size: 17px;
    line-height: 14px;
    margin: 0.9rem 0;
}

.footer-subscribe p {
    background-color: #f6f6e9;
    font-size: 14px;
    line-height: 14px;
    margin: 0.9rem 0;
}

.Organic-Product-column p,
.Help-Column p,
.Diet-Nutrition-Column p,
.Helpful-Link-Column p {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 0.9rem;
}

.Organic-Product-column h4,
.Help-Column h4,
.Diet-Nutrition-Column h4,
.Helpful-Link-Column h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0.9rem;
}


.footer-padding hr {
    background-color: #f6f6e9;
    width: 100%;
}

.bottom-footer {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    width: 100%;
}

.bottom-footer a {
    text-decoration: none;
    color: black;
}

.policy {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    width: 12%;
    justify-content: space-between;
    margin-top: 15px;
}

.social-media img {
    width: 20px;
}

.LogoFooter{
    width: 150px;
    height: auto;
    cursor: pointer;
}

.subscribe-box {
    background-color: #f6f6e9;
}
.subscribe-box input[type="search"] {
    padding: 5px;
}
