@import "../../../common.scss";

.meal-card-container{
    .meal-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        color: $font-color;
        padding: 2%;

        .meal-title{
            width: calc(50% - 2%);
        }
        .meal-image{
            width: calc(50% - 2%);
        }

        img{
            width: 100%;
            height: auto;
        }
    }
}