* {
    margin: 0;
    padding: 0;
}

.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

.logo{
    height: 5em;
    width: auto;
}

.logo-container{
    display: flex;
    align-items: center;
}