.recipe-search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../assets/recipeBackground.jpg");
    height: 35vh;

    .search-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ffffff;
        padding: .5%;
        padding-left: 1%;
        border-width: 3px;
        border-style: solid;
        border-color: #DEDFDC;
        border-radius: 30px;
        width: 25%;

        .search-icon{
            width: 30px;
            height: auto;
            cursor: pointer;
            background-color: #ffffff;
            color: #3a474e;
        }
    }
    .search-container:hover{
        border-color: #899195;
    }
    .search-container input{
        padding: 0px;
        background: inherit;
        border: none;
        outline: 0;
        color: #3a474e;
        font-size: 22px;
    }
    .search-container input::placeholder{
        color: #3a474e;
    }

    .search-filters{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;

        .meal-preferences-row, .calorie-preferences-row, .protein-preferences-row, .carbohydrate-preferences-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        input {
            border: none;
        }
    }

    .recipe-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}